header {
    background-color: #20232a;
    color: #fff;
}

header nav {
    padding: 0 20px;
    display: flex;
    height: 60px;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.header-title {
    color: #61dafb;
    margin-right: 10px;
    flex-grow: 1;

}

.header-list {
    display: flex;
    gap: 15px;
    flex-grow: 1;
}

.header-function {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}

.header-function input {
    padding: 4px;
    padding-left: 29px;
    width: 160px;
}

